/* 
    Document   : style
    Created on : Sep 18, 2013, 1:09:59 AM
    Author     : LynAs
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


body{
    background-color: graytext;
    background-position:center 0;
    font-family:solaimanLipi,arial
}

.inputform{

    background: #fff;
    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
    width: 785px;
    margin: 0 auto; 
    padding-left: 167px;
}

.inputform .blheader{
    text-align: center;
   
}


.rootContainer{
    margin: 0 auto; 
    width: 1000px;
    padding:3px;
    background: #eee;
}

.jabedamain{
    padding:4px;
    background: #ddd;
    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
    width: 950px;
    margin: 0 auto; 
}

.jabedamainheader{
    text-align: center;
    background:none repeat scroll 0 0 #ECECEC;
    margin-bottom: 5px;
    border: 1px solid #ECECEC;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px
}



.joma, .totalbalance{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    font-size: 100%;
}

.joma th, .totalbalance th, #customers th, .totalbalance th, .khoroch th {
    font-size: 1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #fff;
}




.joma td, .totalbalance tr, .totalbalance td{
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 2px 2px 2px 2px;
    max-width:100px;
}

.khoroch{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    font-size: 100%;

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}



.khoroch th {
    font-size: 1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #fff;
}

.khoroch td {
    font-size: 1em;
    border: 1px solid black;
    padding: 3px 7px 2px 7px;
}

.voucherno{
    color: red;
}



#header {
    width: 100%;
    
    height: 5px;
}

#container {    
    background-color: #ffcc33;
    margin: auto;
}
#first {
    width: 50%;
    float: left;    
    background-color: #fff;
}
#second {
    width: 50%;
    float: left;    
    background-color: #aaa;
}
#footer {
    width: 100%;
    background-color: #5f9fc6;
    
}
#footer td{
    padding: 2px;
}

#selectedUser{
    font-size: 1.4em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;    
    color: red;
}

.datest{
    font-size: 2.4em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 20px;
    color: green;
}

.blankSpace{
    color: white;
}

.cv{
    text-align: right;
}

.balanceSheetTotalJomaInividualCell{
    text-align: right;
}
.balanceSheetTotalKhorochInividualCell{
    text-align: right;
}